<h2>Soy realTimeProducts</h2>

<p>Ingresar texto:</p>
<input type="text" id="input_text">

<div id="text_incrustrado">



</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>