<div class="container-chat">
    <div class="menu">
            <div class="back"><i class="fa fa-chevron-left"></i> <img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
            <div class="name">Alex</div>
            <div class="last">18:09</div>

            <div style="display:inline-block;float:right;margin:15px 20px 0 0;"><a href="/" style="color:#fff;" >Volver</a></div>
    </div>
    <ol class="chat">
        <li class="other">
            <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
        <div class="msg">
            <p>Hola!</p>
            <p>Te vienes a cenar al centro? <emoji class="pizza"/></p>
            <time>20:17</time>
        </div>
        </li>
        <li class="self">
            <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
        <div class="msg">
            <p>Puff...</p>
            <p>Aún estoy haciendo el contexto de Góngora... <emoji class="books"/></p>
            <p>Mejor otro día</p>
            <time>20:18</time>
        </div>
        </li>
    </ol>
    <input class="textarea" type="text" placeholder="Type here!"/><div class="emojis"></div>
</div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>